<body>
    <div id="wrapper">
        <!-- Include navbar and sidebar addons -->
        <div ng-include="'addons/navbar.html'"></div>
        <div ng-include="'addons/sidebar.html'"></div>
        <div id="page-wrapper">
            <div class="container-fluid">
                 <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Issues Opened </h3>
                            </div>
                            <div class="panel-body">

                                <form ng-submit="submitQuery()">
                                    <p>
                                        <strong>Repository Owner's Name: </strong><input type="text" ng-model="owner" required><br>
                                        <strong>Repository Name: </strong><input type="text" ng-model="repo" required><br>
                                        <button type="submit">Get Issues Opened Per Contributor</button>
                                    </p>
                                </form>

                                <div class="col-lg-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped tablesorter">
                                            <thead>
                                                <tr>
                                                    <th class="header">Contributor Name</th>
                                                    <th class="header">Issues Opened</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr data-ng-repeat="contributor in pageData">
                                                    <td>{{ contributor.name }}</td>
                                                    <td>{{ contributor.issues_opened }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div> <!-- /panel-body -->
                        </div> <!-- /panel panel-default-->
                    </div> <!-- /col-lg-12 -->
                </div> <!-- /.row -->
            </div> <!-- /container-fluid -->
        </div> <!-- /page-wrapper-->
    <div> <!-- /wrapper -->
</body>