<body>
    <div id="wrapper">
        <div ng-include="'partials/navbar.html'"></div>
        <div ng-include="'partials/sidebar.html'"></div>
        <div id="page-wrapper">
            <div class="container-fluid">
                 <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Area Chart</h3>
                            </div>
                            <div class="panel-body">

                            <form ng-submit="submitQuery()">
                                <p>
                                    <strong>Repository Owner's Name: </strong><input type="text" ng-model="ownerName" required><br>
                                    <strong>Repository Name: </strong><input type="text" ng-model="repoName" required><br>
                                    <button type="submit">Get Issues Assigned Per Contributor</button>
                                </p>
                            </form>

                            <table>
                                <tr>
                                    <th>Contributor Name</th>
                                    <th>Issues Assigned</th>
                                </tr>
                                <tr data-ng-repeat="contributor in pageData">
                                    <td>{{ contributor.name }}</td>
                                    <td>{{ contributor.issues_assigned }}</td>
                                </tr>
                            </table>


                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
        </div>
    <div>
</body>