<body>
    <div id="wrapper">
        <!-- Include navbar and sidebar addons -->
        <div ng-include="'addons/navbar.html'"></div>
        <div ng-include="'addons/sidebar.html'"></div>
        <div id="page-wrapper">
            <div class="container-fluid">
                 <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Repository Statistics </h3>
                            </div>
                            <div class="panel-body">
                                <form ng-submit="submitQuery()">
                                    <p>
                                        <strong>Repository Owner's Name: </strong><input type="text" ng-model="owner" required><br>
                                        <strong>Repository Name: </strong><input type="text" ng-model="repo" required><br>
                                        <button type="submit">Get Statistics</button>
                                    </p>
                                </form>

                                <div class="col-lg-12">
                                  <div class="col-lg-4">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped tablesorter">
                                            <thead>
                                                <tr>
                                                    <th class="header"> Contributor <i class="icon-sort"></i></th>
                                                    <th class="header"> Commits <i class="icon-sort"></i></th>
                                                    
                                                </tr>
                                            </thead>
                                        <tbody>
                                            <tr data-ng-repeat="contributor in commitData">
                                                <td> {{ contributor.name }}</td>
                                                <td> {{ contributor.commits }}</td>


                                            </tr>
                                        

                                        </tbody>
                                        </table>
                                    </div>
                                  </div>

                                  <div class="col-lg-4">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped tablesorter">
                                            <thead>
                                                <tr>
                                                    <th class="header"> Contributor <i class="icon-sort"></i></th>
                                                    <th class="header"> Commit Comments <i class="icon-sort"></i></th>
                                                    
                                                </tr>
                                            </thead>
                                        <tbody>
                                            <tr data-ng-repeat="contributor in commitCommentsData">
                                                <td> {{ contributor.name }}</td>
                                                <td> {{ contributor.commit_comments }}</td>


                                            </tr>
                                        

                                        </tbody>
                                        </table>
                                    </div>
                                  </div>


                                  <div class="col-lg-4">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped tablesorter">
                                            <thead>
                                                <tr>
                                                    <th class="header"> Contributor <i class="icon-sort"></i></th>
                                                    <th class="header"> Loc Added <i class="icon-sort"></i></th>
                                                    <th class="header"> Loc Deleted <i class="icon-sort"></i></th>
                                                    
                                                </tr>
                                            </thead>
                                        <tbody>
                                            <tr data-ng-repeat="contributor in locData">
                                                <td> {{ contributor.name }}</td>
                                                <td> {{ contributor.loc_added }}</td>
                                                <td> {{ contributor.loc_deleted }}</td>


                                            </tr>
                                        

                                        </tbody>
                                        </table>
                                    </div>
                                  </div>
                                </div>

                                <div class="col-lg-12">
                                  <div class="col-lg-4">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped tablesorter">
                                            <thead>
                                                <tr>
                                                    <th class="header"> Contributor <i class="icon-sort"></i></th>
                                                    <th class="header"> Issue Comments <i class="icon-sort"></i></th>
                                                    
                                                </tr>
                                            </thead>
                                        <tbody>
                                            <tr data-ng-repeat="contributor in issuesCommentsData">
                                                <td> {{ contributor.name }}</td>
                                                <td> {{ contributor.comments }}</td>


                                            </tr>
                                        

                                        </tbody>
                                        </table>
                                    </div>
                                  </div>

                                  <div class="col-lg-4">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped tablesorter">
                                            <thead>
                                                <tr>
                                                    <th class="header"> Contributor <i class="icon-sort"></i></th>
                                                    <th class="header"> Pull Requests <i class="icon-sort"></i></th>
                                                    
                                                </tr>
                                            </thead>
                                        <tbody>
                                            <tr data-ng-repeat="contributor in pullRequestsData">
                                                <td> {{ contributor.name }}</td>
                                                <td> {{ contributor.total }}</td>


                                            </tr>
                                        

                                        </tbody>
                                        </table>
                                    </div>
                                  </div>


                                  <div class="col-lg-4">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped tablesorter">
                                            <thead>
                                                <tr>
                                                    <th class="header"> Contributor <i class="icon-sort"></i></th>
                                                    <th class="header"> Pull Request Comments <i class="icon-sort"></i></th>
                                                    
                                                </tr>
                                            </thead>
                                        <tbody>
                                            <tr data-ng-repeat="contributor in pullRequestCommentsData">
                                                <td> {{ contributor.name }}</td>
                                                <td> {{ contributor.comments }}</td>
                                           </tr>
                                        

                                        </tbody>
                                        </table>
                                    </div>
                                  </div>
                                </div>


                                <div class="col-lg-12">
                                  <div class="col-lg-4">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped tablesorter">
                                            <thead>
                                                <tr>
                                                    <th class="header"> Contributor <i class="icon-sort"></i></th>
                                                    <th class="header"> Issues Assigned <i class="icon-sort"></i></th>
                                                    
                                                </tr>
                                            </thead>
                                        <tbody>
                                            <tr data-ng-repeat="contributor in issuesAssignedData">
                                                <td> {{ contributor.name }}</td>
                                                <td> {{ contributor.issues_assigned }}</td>


                                            </tr>
                                        

                                        </tbody>
                                        </table>
                                    </div>
                                  </div>

                                  <div class="col-lg-4">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped tablesorter">
                                            <thead>
                                                <tr>
                                                    <th class="header"> Contributor <i class="icon-sort"></i></th>
                                                    <th class="header"> Issues Closed <i class="icon-sort"></i></th>
                                                    
                                                </tr>
                                            </thead>
                                        <tbody>
                                            <tr data-ng-repeat="contributor in issuesClosedData">
                                                <td> {{ contributor.name }}</td>
                                                <td> {{ contributor.issues_closed }}</td>


                                            </tr>
                                        

                                        </tbody>
                                        </table>
                                    </div>
                                  </div>


                                  <div class="col-lg-4">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped tablesorter">
                                            <thead>
                                                <tr>
                                                    <th class="header"> Contributor <i class="icon-sort"></i></th>
                                                    <th class="header"> Issues Opened <i class="icon-sort"></i></th>
                                                   
                                                    
                                                </tr>
                                            </thead>
                                        <tbody>
                                            <tr data-ng-repeat="contributor in issuesOpenedData">
                                                <td> {{ contributor.name }}</td>
                                                <td> {{ contributor.issues_opened }}</td>
                                                


                                            </tr>
                                        

                                        </tbody>
                                        </table>
                                    </div>
                                  </div>
                                </div>

                            </div> <!-- /panel-body -->
                        </div> <!-- /panel panel-default-->
                    </div> <!-- /col-lg-12 -->
                </div> <!-- /.row -->
            </div> <!-- /container-fluid -->
        </div> <!-- /page-wrapper-->
    <div> <!-- /wrapper -->
</body>